<div class="layout">

  <!-- SIDEBAR -->
  <aside class="sidebar">
    <h2 class="logo">LoanSystem</h2>

    <nav>
      <a routerLink="/user/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Dashboard
      </a>

      <a routerLink="/user/dashboard/my-loans" routerLinkActive="active">
        My Loans
      </a>

      <a routerLink="/user/dashboard/apply-loan" routerLinkActive="active">
        Apply Loan
      </a>
    </nav>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <button class="logout-btn" (click)="logout()">Logout</button>
    
  </aside>
  

  <!-- CONTENT -->
  <main class="content">
    <h1>User Dashboard</h1>
    <p class="subtitle">Welcome to the Loan Approval System</p>

    <!-- Child pages load here -->
    <router-outlet></router-outlet>
  </main>
  





</div>


